*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

  --color-primary: #eb5757;
  --color-secondary: #f9bfbf;  
  --color-tertiary: #b12741;
  --color-quaternary: #74192a;
  
  --color-font-text: black;
  
  --color-menu-background: #ededed;
  --color-menu-font-text: black;
  --color-menu-font-text-hover: var(--color-tertiary);
  --color-menu-span-burger: black;
}

/*   Indications
*   - sm : small
*   - lg : large 
*/ 

#btn-validate-lg{
  height: 40px;
  width: 200px;       
  background-color: var(--color-primary);
  color: black;

  border-radius: 20px;
  margin: 30px auto 20px auto;
  border: none;
  text-align: center;
  display: block;

  text-transform: capitalize;
}

#btn-validate-sm{
  height: 40px;
  width: 100px;       
  background-color: var(--color-primary);
  color: black;

  border-radius: 20px;
  margin: 20px 0 20px 0;
  border: none;
  text-align: center;

  text-transform: capitalize;
}

#btn-cancel-sm{
  height: 40px;
  width: 100px;       
  background-color: grey;
  color: black;

  border-radius: 20px;
  margin: 20px 0 20px 0;
  border: none;
  text-align: center;

  text-transform: capitalize;
}