
/** Main colors **/
:root {

  --color-primary: #e05242;
  --color-secondary: #ec733c;
  --ion-color-tertiary: #abc0ed;
  --ion-color-success: #22a048;
  --ion-color-warning: #e0a424;
  --ion-color-danger: #d51010;
  --ion-color-dark: #222428;
  --ion-color-medium: #92949c;
  --ion-color-light: #f5f5f4;

}

/** Dark theme **/
@media (prefers-color-scheme: dark) {

}

/** Light theme **/
@media (prefers-color-scheme: light) {

}